/* Style dasar halaman */
body {
font-family: Arial, sans-serif; /* Jenis font */
background: linear-gradient(135deg,#fe4f9ea8, #fe00d84b); /*Bakground gradasi */
text-align: center; 
margin: 0;
padding: 0;
}

/*Class untuk menyembunyikan elemen */
.hidden {
    display: none;
}

/* ================= LANDING PAGE ================= */
.landing {
    margin-top: 120px; /* Geser ke bawah */ 
}

.landing h1 {
    color: white;
}

.landing input {
    padding: 10px;
    font-size: 16px;
    width: 220px; 
    margin: 10px;
    border-radius: 6px;
    border: none;
}

.landing button {
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer; /* Kursor tangan */ 
    border: none;
}

/* ================= GAME =================== */
.game {
    margin-top: 40px;
}

/* Papan XOX 3x3 */
.board {
    display: grid; /* Grid layout */
    grid-template-columns: repeat(3, 100px); /* 3 kolom */
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

/* Kotak XOX */
.cell {
    width: 100px;
    height: 100px;
    background: white;
    font-size: 60px; /* Ukuran X dan 0 */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

/* Tombol reset */
.reset {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

/* ===================== POPUP =================== */
.popup {
    position: fixed; /* Tetap di layar */
    inset: 0;
    background: rgba(181, 131, 139, 0.9);
    align-items: center;
    justify-content: center;
}

/* POPUP */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(181, 131, 139, 0.9);
    align-items: center;
    justify-content: center;
}    

 /* popup disembunyikan */
 .popup.hidden {
    display: none;
}    

/* popup ditampilkan */ 
.popup:not(.hidden) {
    display: flex;
}

.popup-box {
        background: white;
        padding: 30px;
        border-radius: 12px
    }

